@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Outfit:wght@400;500;600;700&display=swap");

* {
    scroll-behavior: smooth;
}

a {
    color: #333;
    text-decoration: none;
}

.text-primary {
    color: #2d7ecf !important;
}

.bg-primary {
    background: #2d7ecf !important;
}

.text-bg-primary {
    background: #2d7ecf !important;
    color: #ddd;
}

a:hover {
    transition: 0.5s all ease-in-out;
    color: #2d7ecf;
}

.nav-link:hover {
    transition: 0.5s all ease-in-out;
    color: #2d7ecf !important;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    box-shadow: none !important;
}

body {
    background: #fff;
    line-height: 1.5em;
    font: 400 16px Outfit;
    color: #333;
    overflow-x: hidden;
}

h1 {
    font: 700 22px Comfortaa;
    margin-top: 7px !important;
}

h3 {
    font: 500 22px Outfit;
}

span {
    color: #2d7ecf;
}

img {
    object-fit: cover;
    object-position: center;
}

.nav {
    max-width: 400px;
}

.navbar svg {
    width: 22px;
    height: 22px;
}

.navbar a.icon {
    position: relative;
}

.navbar a.icon:before {
    width: 17px;
    height: 17px;
    background: #2d7ecf;
    color: #fff;
    content: "0";
    font-size: 11px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
    right: -8px;
    border-radius: 100%;
}

.btn-nav {
    width: 23px;
    height: 20px;
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background: #333;
    position: absolute;
    height: 2px;
    width: 23px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    margin-top: 6px;
}

.menu-button::before {
    content: "";
}

.menu-button::after {
    content: "";
    margin-top: 12px;
    width: 15px;
}

.nav[data-bs-collapse="collapsed"] .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

.nav .menu-button {
    background: transparent;
}

.nav .menu-button::after {
    margin-top: 0px;
    width: 23px;
    transform: rotate(-405deg);
}

.l-btn {
    font-size: 13px;
    padding: 15px 25px;
}

.hero {
    background: url("/public/img/home/bgggg.png")
        no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 750px;
}

.hero h3 {
    font: 700 45px Outfit;
}

.hero p {
    color: #777;
    line-height: 1.7em;
}

.hero svg {
    width: 20px;
    height: 20px;
}

.service p {
    font-size: 18px;
    line-height: 1.5em;
    color: #666;
}

.service h3 {
    font: 700 35px Outfit;
    line-height: 1.5em;
}

.service h4 {
    font: 600 20px Outfit;
    line-height: 1.5em;
}

.service p.icon {
    width: 70px;
    height: 70px;
}

.service .col-lg-4 p {
    font-size: 14px;
}

.service p.icon svg {
    width: 30px;
    height: 30px;
}

.reveal,
.revealy {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active,
.revealy.active {
    transform: translateY(0);
    opacity: 1;
}

.rounded {
    border-radius: 5px;
}

.rounded-lg {
    border-radius: 15px;
}

.rounded-full {
    border-radius: 5em;
}

.category h3 {
    font: 700 35px Outfit;
}

.category p {
    font-size: 18px;
    color: #777;
    line-height: 1.7em;
}

.category svg {
    width: 17px;
    height: 17px;
}

.category a.icon {
    font-size: 13px;
}

.category .cat {
    height: 220px;
}

.category .cats {
    height: 464px;
}

.category .cat img {
    filter: brightness(0.5);
}

.category .cat h2 {
    color: #fff;
    font-size: 22px;
}

.category .cats h2 {
    color: #fff;
    font-size: 25px;
}

.category .cat p {
    color: #eee;
    font-size: 15px;
}

.category .cat .position-absolute {
    left: 0;
    right: 0;
    bottom: 0;
}

.category .cat .position-absolute svg {
    width: 25px;
    height: 25px;
}

.category .cats .position-absolute svg {
    width: 30px;
    height: 30px;
}

.category .cat:hover img {
    scale: 1.1;
    transition: 0.5s all ease-in-out;
}

.product {
    background: #eee;
}

.product p {
    font-size: 18px;
    line-height: 1.5em;
    color: #666;
}

.product h3 {
    font: 700 35px Outfit;
    line-height: 1.5em;
}

.product .owl-carousel .card {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-shadow: 12px 12px 10px -10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 12px 12px 10px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 12px 12px 10px -10px rgba(0, 0, 0, 0.25);
}

.product .card span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.product .card h2 {
    margin-top: 5px;
    font-size: 20px;
}

.product .card p {
    font-size: 14px;
    color: #666;
}

.product .card img {
    height: 180px;
    object-fit: contain;
}

.product .owl-carousel .owl-item {
    height: 300px;
    opacity: 0.5;
    position: relative;
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    transition: all 0.2s;
    -webkit-transform: all 0.2s;
    z-index: 1;
}

.product .owl-carousel .owl-stage-outer {
    padding-bottom: 10px;
}

.product .owl-item.big {
    transform: scale(1);
    opacity: 1;
    -ms-transform: scale(1);
    z-index: 3;
}

.product .owl-item.medium {
    transform: scale(0.8);
    opacity: 1;
    -ms-transform: scale(0.8);
    z-index: 2;
}

.product .owl-item.medium.mdright {
    position: relative;
    left: 35px;
}

.product .owl-item.medium.mdleft {
    position: relative;
    right: 35px;
}

.product .owl-item.smallRight.active {
    transform: scale(0.6);
    -ms-transform: scale(0.6);
    opacity: 0.5;
    position: relative;
    left: 22px;
}

.product .owl-item.smallLeft.active {
    transform: scale(0.6);
    opacity: 0.5;
    -ms-transform: scale(0.6);
    position: relative;
    right: 22px;
}

.product .owl-nav {
    position: absolute;
    top: 33%;
    width: 100%;
}

.product .owl-nav .owl-prev,
.product .owl-nav .owl-next {
    position: absolute;
    left: -28px;
    top: 10px;
    box-shadow: 0 5px 12px 1px rgba(0, 0, 0, 0.15);
    width: 40px;
    height: 40px;
    background: #2d7ecf !important;
    border-radius: 100%;
    color: #fff !important;
}

.product .owl-nav .owl-next {
    left: auto;
    right: -28px;
}

.product .owl-nav .owl-prev:hover,
.product .owl-nav .owl-next:hover {
    background: #aa382d !important;
}

.product .col-12 a {
    text-decoration: underline;
}

.reason h3 {
    font: 700 35px Outfit;
}

.reason p {
    font-size: 18px;
    color: #777;
    line-height: 1.7em;
}

.reason svg {
    width: 20px;
    height: 20px;
}

.reason .title p.icon svg {
    width: 60px;
    height: 60px;
}

.reason p.icon {
    width: 50px;
    height: 50px;
}

.reason .reason-content h4 {
    font: 600 20px Outfit;
}

.reason .reason-content p {
    font-size: 14px;
}

.jasa h3 {
    font-size: 30px;
}

.footer svg {
    width: 30px;
    height: 30px;
}

.footer,
.footer a {
    color: #ddd;
    line-height: 1.5em;
}

.footer h2 {
    font: 700 25px Comfortaa;
    color: #fff;
}

.footer h3 {
    color: #fff;
}

.footer a:hover {
    color: #fff;
}

.footer ul {
    list-style: none;
}

.sosmed a {
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright a.home {
    font: 700 15px Comfortaa;
}

.footer li {
    margin: 7px 0;
}

.fixed {
    position: fixed !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 10 !important;
    background: #ffffff !important;
}

.isFixed {
    margin-top: 80px !important;
}

.fade-top {
    animation: fade-top 1s ease-in-out;
}

.fade-bottom {
    animation: fade-bottom 1s ease-in-out;
}

.fade-left {
    animation: fade-left 1s ease-in-out;
}

.fade-right {
    animation: fade-right 1s ease-in-out;
}

@keyframes fade-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {
    .btn-nav {
        display: block;
    }

    .navbar {
        z-index: 10 !important;
    }

    .nav {
        background: #fff;
        max-width: 100%;
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
        position: fixed;
        z-index: 1 !important;
        top: 62.3px;
        left: 0;
        right: 0;
        padding: 0 12px;
    }

    .l-btn {
        padding: 12px 18px;
    }

    .hero {
        min-height: 100vh;
        background-size: 130%;
    }

    .category .cats {
        height: 250px;
    }

    .category .cats h2 {
        font-size: 22px;
    }

    .category .cats .position-absolute svg {
        width: 25px;
        height: 25px;
    }

    .category .title,
    .reason .title {
        text-align: center;
        justify-content: center !important;
    }

    .category .title p,
    .reason .title p {
        font-size: 16px;
    }

    .reason .title p.icon {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 20px;
    }

    .copyright {
        padding-bottom: 15px !important;
    }

    .copyright p {
        text-align: center;
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .hero {
        min-height: 600px;
    }

    .hero h3 {
        font-size: 35px;
    }
}
